.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 90px;
    padding: 5px;
    margin: 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "main main main main"
      "main main main main"
      "main main main main"
      "sidebar sidebar sidebar sidebar"
      "ads ads ads ads"
      "footer footer footer footer";
  }
  
  .header { grid-area: header; 
    border: 3px solid red;
    padding: 10px;
}
  
  .nav { grid-area: nav; 
    border: 3px solid red;
    padding: 10px;}
  
  .main { grid-area: main; 
    border: 3px solid red;
    padding: 10px;}
  
  .sidebar { grid-area: sidebar; 
    border: 3px solid red;
    padding: 10px;}
  
  .ads { grid-area: ads;
    border: 3px solid red;
    padding: 10px;}
  
  .footer { grid-area: footer;
    border: 3px solid red;
    padding: 10px;}
  